* {
    padding: 0;
    margin: 0;
    border: 0
}

aside,footer,header,nav,section {
    display: block
}

html {
    font-size: 18px
}

body,html {
    height: 100%;
    min-width: 320px
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit
}