* {
    padding: 0;
    margin: 0;
    border: 0
}

aside,footer,header,nav,section {
    display: block
}

html {
    font-size: 18px
}

body,html {
    height: 100%;
    min-width: 320px
}

a:hover {
    text-decoration: none
}
a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit
}

.header {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #041624;
  z-index: 5;
}
.header__content {
    padding: 15px 0;
}
._container {
    max-width: 1170px;
    margin: 0 auto;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .menu__item:not(:last-child) {
    margin-right: 100px;
  }

  .menu__link {
   font-size: 12px;
  }
  .menu__buttons {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }
  .menu__btn {
    align-items: center;
    border: 1px solid #0098FD;
    background-color: #0098FD;
  }
  .btn {
    border-radius: 26px;
    padding: 5px 45px;
    font-size: 14px;
    color: #fff;
  }

  .logo__img {
    height: 21px;
  }
  .header__logo {
    position: absolute;
    left: 60px;
  } 
   .header__button {
    position: absolute;
    right: 60px;
  }

  .initial__block {
    height: 808px;
    display: flex;
    flex-direction:column;
  }
  .initial__img {
      position: absolute;
      width: 100%;
      height: 808px;
      top: 0;
      left: 0;
      object-fit: cover;
  }


.initial__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  z-index: 2;
  margin-top: 260px;
}

.initial__content h2 {
  font-size: 55px;
  padding: 0 30px;
}
.initial__content p {
    font-size: 25px;
    margin-left: 6px;
    padding: 0 30px;
}

.initial__links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}
.initial__link {
    border: 1px solid #0098FD;
    background-color: #0098FD;
    padding: 10px 45px;
}

.transparent__btn {
    padding: 10px 45px;
    border: 2px solid #fff;
    background-color: transparent;
}

.upper__footer {
    margin-top:auto;
}

.upper__footer__list {
    background: linear-gradient(rgba(4, 22, 36, 0.7), rgba(4, 22, 36, 0.7));
    justify-content: space-between;
    padding: 10px;
}

.zen__dots {
    font-size: 18px;
}

.cards {
  margin-top: 100px;
}
.cards__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 30px;
}

.cards__about {
  display: flex;
  justify-content: space-around;
}
.cards__title {
  font-size: 50px;
}

.cards__text {
  font-size: 18px;
}
.cards__carusel {
  display: flex;
  gap: 15px;
}

.card {
  width: 337px;
  height: 441px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  border: 1px solid #E6E6E6;
}
.card__img img {
  width: 336px;
}
.card__h1 {
font-size: 20px;
font-weight: 400; 

}
.card__p {
  font-size: 14px;
}

.card__btn {
  background-color: #2A2A2B;
  padding: 5px 5px;
  font-size: 16px;
  width: 97px;
  text-align: center;
}

.callback__btn {
  background-color: #2A2A2B;
  padding: 5px 5px;
  font-size: 16px;
  width: 109px;
  text-align: center;
}
.callback__p {
  font-size: 22px;
}

.callback__describe__p {
  font-size: 17px;
}
.about__title {
  font-size: 60px;
}


.about__block {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: auto 2fr 1fr; 
  gap: 20px; 
}

.about__title {
  grid-column: 1/12; 
  grid-row: 1; 
  align-self: start;
}

.callback__block {
  grid-column: 1/6; 
  grid-row: 2; 
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.callback__describe__block {
  grid-column: 7/12; 
  grid-row: 2; 
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.delivers__block {
  position: relative;
  margin: 0 30px;
  height: 489px;
  color: #fff;
} 
.delivers__block img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

 .delivers__content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
  padding-top: 100px;
} 
.delivers__btn {
  width: 80px;
}

.delivers__h1 {
  font-size: 29px;
}

.delivers__p {
  font-size: 17.38px;
}

.products__block {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.products__title__block {
  display: flex;
  gap: 15px
}
.products__title {
font-size: 60px;
}

.products__description {
  margin-bottom: 40px;
  margin-top:30px;
  font-size: 22px;
}

.products__cards {
  display: flex;
  gap: 15px;
}

.products__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  width: 462px;
  height: 307px;
  background-color: #F5F5F7;
  border-radius: 15px;
  border: 2px solid #E6E6E6;
  overflow: hidden;
}
.products__card h1 {
 font-size: 20px;
}
.products__card p {
  font-size: 14px;
 }

 .products__card img {
  grid-row: 1 / 3;
  object-fit: cover;
  grid-column: 6 / 12;
  object-position: left;
}
.product__card__content {
  margin-top: 50px;
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 15px;
}

.products__card__1 img {
  grid-row: 1/3;
}

.products__card__2 {
  width: 409px;
}

.products__card__2 img {
  grid-row: 1/3;
  grid-column: 6/12;
}

.products__card__3 {
  width: 409px;
}

.products__card__3 img {
  grid-row: 1/3;
  grid-column: 6/12;
}

.product__card__btn {
  width: 126px;
}

.product__more {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.product__more__description {
  display: flex;
  width: 775px;
  height: 378px;
  border-radius: 15px; 
  border: 2px solid #E6E6E6;
  background-color: #F9FAFC;
}
.product__more__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  padding-top: 100px;
}

.product__more__description h1 {
  font-size: 20px;
}

.product__more__description p {
  font-size: 17.38px;
}

.product__coal {
  position: relative;
  gap: 30px;
  width: 531px;
  height: 378px;
}

.product__coal__content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}

.product__coal img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.product__coal__content h1 {
  font-size: 20px;
  color: #FFFFFF;
}

.product__coal__content p {
  margin-top: 20px;
  font-size: 14px;
  color: #E4E4E4;
}

