@charset "UTF-8";

@font-face {
  font-family: 'Monserrat';
  src: url('..fonts/Montserrat Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zen Dots';
  src: url('../fonts/ZenDot.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Light.woff2) format("woff2"),;
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/RobotoRegular.woff) format("woff2"),;
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/Roboto-Medium.woff) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}

.zen__dots {
  font-family: 'Zen Dots';
}
.sf__pro {
  font-family: "SF Pro Display";
  font-weight: 300;
}
.roboto__regular {
  font-family: "Roboto";
  font-weight: 400;
}
.sf__pro__medium {
  font-family: "SF Pro Display";
  font-weight: 500;
}
.sf__pro__semibold {
  font-family: "SF Pro Display";
  font-weight: 600;
}
.sf__pro__bold {
  font-family: "SF Pro Display";
  font-weight: 700;
}
.sf__pro__regular {
  font-family: "SF Pro Display";
  font-weight: 400;
}
* {
    padding: 0;
    margin: 0;
    border: 0
}

aside,footer,header,nav,section {
    display: block
}

html {
    font-size: 18px
}

body,html {
    height: 100%;
    min-width: 320px
}

a:hover {
    text-decoration: none
}
a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit
}


.header {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #041624;
  z-index: 5;
}
.header__content {
    padding: 15px 0;
}
._container {
    max-width: 1170px;
    margin: 0 auto;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    
  }
  .menu__item .sf__pro {
    font-size: 13px;
  }
  .menu__item:not(:last-child) {
    margin-right: 100px;
  }

  .menu__link {
   font-size: 12px;
  }
  .menu__buttons {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }
  .menu__btn {
    align-items: center;
    border: 1px solid #0098FD;
    background-color: #0098FD;
  }
  .btn {
    border-radius: 26px;
    padding: 5px 45px;
    font-size: 14px;
    color: #fff;
  }

  .logo__img {
    height: 21px;
  }
  .header__logo {
    position: absolute;
    left: 60px;
  } 
   .header__button {
    position: absolute;
    right: 60px;
  }

  .initial__block {
    height: 808px;
    display: flex;
    flex-direction:column;
  }
  .initial__img {
      position: absolute;
      width: 100%;
      height: 808px;
      top: 0;
      left: 0;
      object-fit: cover;
  }


.initial__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  z-index: 2;
  margin-top: 260px;
  
}

.initial__content h2 {
  font-size: 55px;
  margin-left: 60px;
}
.initial__content p {
    font-size: 25px;
    margin-left: 6px;
    margin-left: 60px;
}

.initial__links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 60px;
}
.initial__links .initial__link {
  width: 80px;
}
.initial__link {
    border: 1px solid #0098FD;
    background-color: #0098FD;
    padding: 10px 45px;
    position: relative;
}

.transparent__btn {
    padding: 10px 45px;
    border: 2px solid #fff;
    background-color: transparent;
}

.upper__footer {
    margin-top:auto;
}

.upper__footer__list {
    background: linear-gradient(rgba(4, 22, 36, 0.7), rgba(4, 22, 36, 0.7));
    justify-content: space-between;
    padding: 10px;
}

.upper__footer__list:first-child {
  margin-right: auto;
}

.zen__dots {
    font-size: 18px;
}

.cards {
  margin-top: 100px;
}
.cards__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.cards__about {
  display: flex;
  justify-content: space-around;
}
.cards__title {
  font-size: 50px;
}

.cards__text {
  margin-top: 20px;
  font-size: 18px;
  margin-left: auto;
}
.cards__carusel {
  display: flex;
  gap: 15px;
}

.card {
  width: 337px;
  height: 441px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
}
.card__img img {
  width: 336px;
}
.card__h1 {
font-size: 20px;
font-weight: 400; 
padding-top: 10px;
padding-left: 10px

}
.card__p {
  font-size: 14px;
  padding-left: 10px
}
.card a {
  margin-top: 18px;
  margin-left: 10px;
}


.card__btn {
  background-color: #2A2A2B;
  padding: 5px 5px;
  font-size: 16px;
  width: 97px;
  text-align: center;
}

.callback__btn {
  background-color: #2A2A2B;
  padding: 5px 5px;
  font-size: 16px;
  width: 109px;
  text-align: center;
}
.callback__p {
  font-size: 22px;
}

.callback__describe__p {
  font-size: 17px;
}
.about__title {
  font-size: 60px;
}


.about__block {
  margin-top: 100px;
  margin-left: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: auto 2fr 1fr; 
  gap: 20px; 
}

.about__title {
  grid-column: 1/12; 
  grid-row: 1; 
  align-self: start;
}

.callback__block {
  grid-column: 1/6; 
  grid-row: 2; 
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.callback__describe__block {
  grid-column: 7/12; 
  grid-row: 2; 
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.delivers__block {
  width: 1326px;
    position: relative;
    margin: 0 60px;
    height: 389px;
    color: #fff;
    border: 1px solid #0098FD;
    border-radius: 15px;
    overflow: hidden;
} 
.delivers__block > img {
  z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 389px;
}

 .delivers__content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
  padding-top: 100px;
} 
.delivers__btn {
  width: 80px;
}

.delivers__h1 {
  font-size: 29px;
}

.delivers__p {
  font-size: 17.38px;
  line-height: 1.5;
}

.products__block {
  display: flex;
  flex-direction: column;
  margin-left: 60px;

}

.products__title__block {
  display: flex;
  gap: 15px
}
.products__title {
font-size: 60px;
}

.products__description {
  margin-bottom: 40px;
  margin-top:30px;
  font-size: 22px;
}

.products__cards {
  display: flex;
  gap: 22px;
}

.products__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  width: 459px;
  height: 307px;
  background-color: #F5F5F7;
  border-radius: 15px;
  border: 2px solid #E6E6E6;
  overflow: hidden;
}
.products__card h1 {
 font-size: 20px;
}
.products__card p {
  font-size: 14px;
 }

 .products__card img {
  grid-row: 1 / 3;
  object-fit: cover;
  grid-column: 6 / 12;
  object-position: left;
}
.product__card__content {
  margin-top: 50px;
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 15px;
}

.products__card__1 img {
  grid-row: 1/3;
}

.products__card__1 .product__card__content {
  grid-column: 1/8;
}

.products__card__2 {
  width: 406px;
}

.products__card__2 img {
  grid-row: 1/3;
  grid-column: 8/12;
}
.products__card__2 .product__card__content {
  grid-column: 1/8;
}

.products__card__3 {
  width: 406px;
}
.products__card__3 .product__card__content {
  grid-column: 1/8;
}

.products__card__3 img {
  grid-row: 1/3;
  grid-column: 8/12;
}

.product__card__btn {
  width: 126px;
}

.product__more {
  display: flex;
  margin-top: 15px;
  gap: 13px;
}

.product__more__description {
  display: flex;
  width: 775px;
  height: 378px;
  border-radius: 15px; 
  border: 2px solid #E6E6E6;
  background-color: #F9FAFC;
}
.product__more__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  padding-top: 100px;
}

.product__more__description h1 {
  font-size: 20px;
}

.product__more__description p {
  font-size: 17.38px;
}

.product__coal {
  position: relative;
  gap: 30px;
  width: 531px;
  height: 378px;
  border: 1px solid #E6E6E6;
  border-radius: 15px;
  overflow: hidden;
}

.product__coal__content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}

.product__coal img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 378px;
}
.product__coal__content h1 {
  font-size: 20px;
  color: #FFFFFF;
}

.product__coal__content p {
  margin-top: 20px;
  font-size: 14px;
  color: #E4E4E4;
}

.advantages {
  margin-bottom: 100px;
}

.advantages__block {
  /* margin-left: 60px;
  margin-right: 60px; */
  margin: 40px 60px;
}

.advantages__block h1 {
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.advantages__content {
  display: flex;
  gap: 11px;
}
.adavantages__card {
  width: 302px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  border: 1px solid #E6E6E6;
  align-items: center;
  text-align: center;;
}
.adavantages__card p {
  margin: 0 auto;
}

.adavantages__card__2 {
  width: 325px;
}
.adavantages__card__3 {
  width: 325px;
}
.adavantages__card__4{
  width: 325px;
}

.adavantages__card__1 img {
  width: 36px;
  height: 32px;
  margin-top: 50px;
}

.adavantages__card__2 img {
  width: 36px;
  height: 25px;
  margin-top: 50px;
}


.adavantages__card__3 img {
  width: 43px;
  height: 43px;
  margin-top: 45px;
}

.adavantages__card__4 img {
  width: 180px;
  height: 66px;
  margin-top: 75px;
}

.contact__us {
 margin-top: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
.contact__us a {
  width: 126px;
}
.footer {
  background-color: #041624;
  height: 948px;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.keep {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 1318px;
  height: 333px;
  margin: 100px 60px;
  border: 1px solid #030F19;
  border-radius: 15px;
  overflow: hidden;
}

.keep__block {
  position: relative;
}
.keep__block > img {
  /* z-index: -1; */
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 340px;
  width: 801px
}

.keep__content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  padding-left: 30px;
  color: #FFFFFF;
}

.footer__img__cont {
  position: relative
}

.footer__img {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.keep__block_1 {
 background-color: #030F19;
  grid-column: 1/6;
  z-index: 3;
  width: 659px;
}



.keep__block_2 {
  background-image: url(./img/versions/FooterSecond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  grid-column: 6/12;
  width: 659px;
}

.keep__content h1 {
  font-size: 29px;
}
.keep__content p {
  font-size: 17.38px;
}

.about__foooter {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  margin-left: 60px;
  width: 1318px;
}
.about__footer__block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about__footer__block_3 img {
  height: 69px;
  width: 185px;
}

.styled-line {
  border: none;            
  border-top: 2px solid #2F2F2F; 
  width: 100%;             
  margin: 20px auto;      
  opacity: 0.7;          
}

.footer__reserved {
  margin-left: 60px;
  margin-top: 50px;
  text-align: right;
  width: 1318px;
}
.footer__policy {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #73757B;
  margin-left: 54px;
  font-size: 11px;
}

.footer__policy ul li {
  list-style: disc;
  margin-left: 20px;
}

.about__footer__block h1 {
  font-size: 29px;
}

.about__footer__block p {
  font-size: 16.38px;
}
.footer__reserved {
  font-size: 12.52px;
  color: #FFFFFF;
}

.card__h1 {
  font-family: "SF Pro Display";
  font-weight: 500;
}
.card__p {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.product__card__content h1 {
  font-family: "SF Pro Display";
  font-weight: 500;
}
.product__card__content p {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.product__coal__content h1 {
  font-family: "SF Pro Display";
  font-weight: 500;
}
.product__coal__content p {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.adavantages__card h3 {
  font-family: "SF Pro Display";
  font-weight: 500;
}

.adavantages__card p {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.about__footer__block h1 {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.about__footer__block p { 
  font-family: "SF Pro Display";
  font-weight: 300;
}

.roboto__medium {
  font-family: "Roboto";
  font-weight: 500;
}
.initial__link {
  font-family: "Roboto";
  font-weight: 500;
}

.card__btn {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.callback__btn  {
  font-family: "SF Pro Display";
  font-weight: 400;
}
.footer__policy {
  margin-top: 30px;
}

.upper__footer__list li:first-child {
  padding-left: 50px;
}

.upper__footer__list li:last-child {
  padding-right: 100px;
}

.delivers__btn {
  position: relative;
}
.arrow__img {
  z-index: 1;
  width: 28px;
  height: 29px;
  position: absolute;
  left: 65%;
  bottom: 10%;
}

.product__more__svg {
  width: 109px;
  height: 85px;
  align-self: center;
  padding-left: 150px;
}

.products {
  margin-top: 100px
}
.products__svg {
  margin-left: 10px;
  margin-top: 5px;
}