@charset "UTF-8";

@font-face {
  font-family: 'Monserrat';
  src: url('..fonts/Montserrat Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zen Dots';
  src: url('../fonts/ZenDot.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Light.woff2) format("woff2"),;
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/RobotoRegular.woff) format("woff2"),;
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/Roboto-Medium.woff) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "SF Pro Display";
  font-display: swap;
  src: url(../fonts/SFProDisplay-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}

.zen__dots {
  font-family: 'Zen Dots';
}
.sf__pro {
  font-family: "SF Pro Display";
  font-weight: 300;
}
.roboto__regular {
  font-family: "Roboto";
  font-weight: 400;
}
.sf__pro__medium {
  font-family: "SF Pro Display";
  font-weight: 500;
}
.sf__pro__semibold {
  font-family: "SF Pro Display";
  font-weight: 600;
}
.sf__pro__bold {
  font-family: "SF Pro Display";
  font-weight: 700;
}
.sf__pro__regular {
  font-family: "SF Pro Display";
  font-weight: 400;
}
* {
    padding: 0;
    margin: 0;
    border: 0
}
*, html {
  scroll-behavior: smooth !important;
}

aside,footer,header,nav,section {
    display: block
}

html {
    font-size: 18px
}

body,html {
    height: 100%;
    min-width: 320px
}

a:hover {
    text-decoration: none
}
a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit
}


.header {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #041624;
  z-index: 5;
}
.header__content {
    padding: 15px 0;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    
  }
  .menu__item .sf__pro {
    font-size: 13px;
  }
  .menu__item:not(:last-child) {
    margin-right: 100px;
  }

  .menu__link {
   font-size: 12px;
  }
  .menu__buttons {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }
  .menu__btn {
    font-family: "Roboto";
    font-weight: 400;
    align-items: center;
    border: 1px solid #0098FD;
    background-color: #0098FD;
  }
  .btn {
    border-radius: 26px;
    padding: 5px 45px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }

  .logo__img {
    height: 21px;
  }
  .header__logo {
    position: absolute;
    left: 60px;
  } 
   .header__button {
    position: absolute;
    right: 60px;
  }

  .initial__block {
    height: 100vh;
    display: flex;
    flex-direction:column;

  }
  .initial__img {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      object-fit: cover;
  }


.initial__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  z-index: 2;
  margin-top: 260px;
  
}

.initial__content h2 {
  font-size: 55px;
  margin-left: 60px;
}
.initial__content p {
    font-size: 25px;
    margin-left: 6px;
    margin-left: 60px;
}

.initial__links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 60px;
}
.initial__links .initial__link {
  width: 80px;
}
.initial__link {
    border: 1px solid #0098FD;
    background-color: #0098FD;
    padding: 10px 45px;
    position: relative;
}

.transparent__btn {
    padding: 10px 45px;
    border: 2px solid #fff;
    background-color: transparent;
}

.upper__footer {
    margin-top:auto;
}

.upper__footer__list {
    background: linear-gradient(rgba(4, 22, 36, 0.7), rgba(4, 22, 36, 0.7));
    justify-content: space-between;
    padding: 10px;
}

.upper__footer__list:first-child {
  margin-right: auto;
}

.zen__dots {
    font-size: 18px;
}

.cards {
  
  background-color: #F0F0F0;
}

.cards__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 60px;
  margin-right: 60px;
  max-width: 1326px;
  margin: 0 auto;
  padding-top: 100px;
}

.cards__about {
  display: flex;
  justify-content: space-around;
}
.cards__title {
  font-size: 50px;
}

.cards__text {
  margin-top: 20px;
  font-size: 18px;
  margin-left: auto;
}
.cards__carusel {
  display: flex;
  gap: 15px;
  /* overflow: hidden;
  transition: left 0.5s ease; 
  position: relative;  */
  transition: transform 0.5s ease; /* Плавный переход для слайдера */
  will-change: transform; /* Подсказка для браузера о том, что это свойство будет изменяться */
  overflow: hidden;
  position: relative;

}

.card {
  width: 337px;
  height: 441px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
}
.card__img img {
  width: 336px;
  border-radius: 15px;
}
.card__h1 {
font-size: 20px;
font-weight: 400; 
padding-top: 10px;
padding-left: 10px

}
.card__p {
  font-size: 14px;
  padding-left: 10px
}
.card a {
  margin-top: 18px;
  margin-left: 10px;
}


.card__btn {
  background-color: #2A2A2B;
  padding: 5px 5px;
  font-size: 16px;
  width: 97px;
  text-align: center;
}

.callback__btn {
  background-color: #2A2A2B;
  padding: 5px 5px;
  font-size: 16px;
  width: 109px;
  text-align: center;
}
.callback__p {
  font-size: 22px;
}

.callback__describe__p {
  font-size: 17px;
}
.about__title {
  font-size: 60px;
}


.about__block {
  /* margin-top: 100px;
  margin-left: 60px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: auto 2fr 1fr; 
  gap: 20px; 
  max-width: 1326px;
  margin: 0 auto;
  padding-top: 100px;
}

.about__title {
  grid-column: 1/12; 
  grid-row: 1; 
  align-self: start;
}

.callback__block {
  grid-column: 1/6; 
  grid-row: 2; 
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.callback__describe__block {
  grid-column: 7/13; 
  grid-row: 2; 
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.delivers__block {
  width: 1326px;
    position: relative;
    /* margin: 0 60px; */
    height: 389px;
    color: #fff;
    border: 1px solid #0098FD;
    border-radius: 15px;
    overflow: hidden;
    max-width: 1326px;
    margin: 0 auto;
} 
.delivers__block > img {
  z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 389px;
}

 .delivers__content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
  padding-top: 100px;
} 
.delivers__btn {
  width: 80px;
}

.delivers__h1 {
  font-size: 29px;
}

.delivers__p {
  font-size: 17.38px;
  line-height: 1.5;
}

.products__block {
  display: flex;
  flex-direction: column;
  /* margin-left: 60px; */
  max-width: 1326px;
  margin: 0 auto;
  position: relative;
}

.products__title__block {
  display: flex;
  gap: 15px
}
.products__title {
font-size: 60px;
}

.products__description {
  margin-bottom: 40px;
  margin-top:30px;
  font-size: 22px;
}

.products__cards {
  display: flex;
  gap: 22px;
}

.products__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  width: 459px;
  height: 307px;
  background-color: #F5F5F7;
  border-radius: 15px;
  border: 2px solid #E6E6E6;
  overflow: hidden;
}
.products__card h1 {
 font-size: 20px;
}
.products__card p {
  font-size: 14px;
 }

 .products__card img {
  grid-row: 1 / 3;
  object-fit: cover;
  grid-column: 6 / 12;
  object-position: left;
}
.product__card__content {
  margin-top: 50px;
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 15px;
}

.products__card__1 img {
  grid-row: 1/3;
}

.products__card__1 .product__card__content {
  grid-column: 1/8;
}

.products__card__2 {
  width: 406px;
}

.products__card__2 img {
  grid-row: 1/3;
  grid-column: 8/12;
}
.products__card__2 .product__card__content {
  grid-column: 1/8;
}

.products__card__3 {
  width: 406px;
}
.products__card__3 .product__card__content {
  grid-column: 1/8;
}

.products__card__3 img {
  grid-row: 1/3;
  grid-column: 8/12;
}

.product__card__btn {
  width: 126px;
}

.product__more {
  display: flex;
  margin-top: 15px;
  gap: 13px;
  background: linear-gradient(transparent 27%,#F2F2F2 12%);
  z-index: 1;
}

.product__more__description {
  display: flex;
  width: 775px;
  height: 378px;
  border-radius: 15px; 
  border: 2px solid #E6E6E6;
  background-color: #F9FAFC;
}
.product__more__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  padding-top: 100px;
}

.product__more__description h1 {
  font-size: 20px;
}

.product__more__description p {
  font-size: 17.38px;
}

.product__coal {
  position: relative;
  gap: 30px;
  width: 531px;
  height: 378px;
  border: 1px solid #E6E6E6;
  border-radius: 15px;
  overflow: hidden;
}

.product__coal__content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}

.product__coal img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 378px;
}
.product__coal__content h1 {
  font-size: 20px;
  color: #FFFFFF;
}

.product__coal__content p {
  margin-top: 20px;
  font-size: 14px;
  color: #E4E4E4;
}

.advantages {
  background-color: #F0F0F0;
  padding-bottom: 100px;
  position: relative;
}

.advantages__block {
  /* margin-left: 60px;
  margin-right: 60px; */
  /* margin: 40px 60px; */
  max-width: 1326px;
  margin: 0 auto;
  padding-top: 100px;
}

.advantages__block h1 {
  font-size: 60px;
  margin-bottom: 40px;;
}
.advantages__content {
  display: flex;
  gap: 11px;
}
.adavantages__card {
  width: 302px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  border: 1px solid #E6E6E6;
  align-items: center;
  text-align: center;;
}
.adavantages__card p {
  margin: 0 auto;
}

.adavantages__card__1 {
  background-color: #FFFFFF;
}
.adavantages__card__2 {
  width: 325px;
  background-color: #FFFFFF;
}
.adavantages__card__3 {
  width: 325px;
  background-color: #FFFFFF;
}
.adavantages__card__4{
  width: 325px;
  background-color: #FFFFFF;
}

.adavantages__card__1 img {
  width: 36px;
  height: 32px;
  margin-top: 50px;
}

.adavantages__card__2 img {
  width: 36px;
  height: 25px;
  margin-top: 50px;
}


.adavantages__card__3 img {
  width: 43px;
  height: 43px;
  margin-top: 45px;
}

.adavantages__card__4 img {
  width: 180px;
  height: 66px;
  margin-top: 75px;
}

.contact__us {
 margin-top: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
.contact__us a {
  width: 126px;
}
.footer {
  background-color: #041624;
  height: 948px;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.keep {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* width: 1318px; */
  height: 333px;
  border: 1px solid #030F19;
  border-radius: 15px;
  overflow: hidden;
  max-width: 1326px;
  margin: 100px auto;
}

.keep__block {
  position: relative;
}
.keep__block > img {
  /* z-index: -1; */
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 340px;
  width: 801px
}

.keep__content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  padding-left: 30px;
  color: #FFFFFF;
}

.footer__img__cont {
  position: relative
}

.footer__img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 924px;
  width: 100%;
}
.keep__block_1 {
 background-color: #030F19;
  grid-column: 1/6;
  z-index: 3;
  width: 659px;
}



.keep__block_2 {
  background-image: url(./img/versions/FooterSecond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  grid-column: 6/12;
  width: 659px;
}

.keep__content h1 {
  font-size: 29px;
}
.keep__content p {
  font-size: 17.38px;
}

.about__foooter {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  /* margin-left: 60px; */
  width: 1318px;
  max-width: 1326px;
  margin: 0 auto; 
}
.about__footer__block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about__footer__block_3 img {
  height: 69px;
  width: 185px;
}

.styled-line {
  border: none;            
  border-top: 2px solid #2F2F2F; 
  width: 100%;             
  margin: 20px auto;      
  opacity: 0.7;          
}

.footer__reserved {
  text-align: right;
  width: 1318px;
  max-width: 1326px;
  margin: 0 auto;
  margin-top: 50px;
}
.footer__policy {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #73757B;
  /* margin-left: 54px; */
  font-size: 11px;
  max-width: 1326px;
  margin: 0 auto;
}

.footer__policy ul li {
  list-style: disc;
  margin-left: 20px;
}

.about__footer__block h1 {
  font-size: 29px;
}

.about__footer__block p {
  font-size: 16.38px;
}
.footer__reserved {
  font-size: 12.52px;
  color: #FFFFFF;
}

.card__h1 {
  font-family: "SF Pro Display";
  font-weight: 500;
}
.card__p {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.product__card__content h1 {
  font-family: "SF Pro Display";
  font-weight: 500;
}
.product__card__content p {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.product__coal__content h1 {
  font-family: "SF Pro Display";
  font-weight: 500;
}
.product__coal__content p {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.adavantages__card h3 {
  font-family: "SF Pro Display";
  font-weight: 500;
}

.adavantages__card p {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.about__footer__block h1 {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.about__footer__block p { 
  font-family: "SF Pro Display";
  font-weight: 300;
}

.roboto__medium {
  font-family: "Roboto";
  font-weight: 500;
}
.initial__link {
  font-family: "Roboto";
  font-weight: 500;
}

.card__btn {
  font-family: "SF Pro Display";
  font-weight: 400;
}

.callback__btn  {
  font-family: "SF Pro Display";
  font-weight: 400;
}
.footer__policy {
  margin-top: 30px;
}

.upper__footer__list li:first-child {
  padding-left: 50px;
}

.upper__footer__list li:last-child {
  padding-right: 100px;
}

.delivers__btn {
  position: relative;
}
.arrow__img {
  z-index: 1;
  width: 28px;
  height: 29px;
  position: absolute;
  left: 65%;
  bottom: 10%;
}

.product__more__svg {
  width: 109px;
  height: 85px;
  align-self: center;
  padding-left: 150px;
}

.products {
  margin-top: 100px;
}
.products__svg {
  margin-left: 10px;
  margin-top: 5px;
}

.news__buttons {
 text-align:right;
}
.news__buttons button {
  cursor: pointer;
}
.product__more::before,
.product__more::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100vmax; /* Делаем ширину, превышающую видимую часть */
  background-color: #F0F0F0; /* Цвет для боков */
  z-index: -1; /* Отправляем их на задний план */
  height: 282px;
 
}

.product__more::before {
  left: -100vmax; /* Сдвигаем левый блок за левую границу */
  margin-left: 1px;
}

.product__more::after {
  right: -100vmax; /* Сдвигаем правый блок за правую границу */
  margin-right: 1px;
}


body {
  overflow-x: hidden;
}

 .about {
  position: relative;
  overflow: hidden;
 }
.big__sova {
  position: absolute;
  width: 983px;
  height: 1450px;
  left: 40%;
  bottom: -19%;
}

.advantages__btn {
  background-color: #2A2A2B;
  padding: 5px 10px;
  font-size: 16px;
  width: 109px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  font-family: "SF Pro Display";
  font-weight: 400;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility .2s ease 0s;
  -o-transition: visibility .2s ease 0s;
  transition: visibility .2s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .2s ease 0s;
  -o-transition: opacity .2s ease 0s;
  transition: opacity .2s ease 0s;
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center
}

.popup__body {
  padding: 24px;
  
  background-color: #fff;
  border-radius: 16px;
  z-index: 1;
}

h4.popup__title {
  font-size: 19px;
  font-family: 'Public Sans Bold';
  font-weight: bold;
  line-height: 24px;

  margin-bottom: 20px;

  color: #000;
}

p.popup__text {
  font-size: 14px;
  font-family: 'Public Sans';

  margin-bottom: 14px;

  color: rgba(21, 25, 32, 0.5);
}

span.popup__subtitle {
  font-family: 'SF Pro Display';
  font-size: 14px;
  font-weight: 600;

  display: inline-block;

  margin-bottom: 10px;

  color: #2B4BF2;
  text-transform: uppercase;
}

.popup__row.inp-box input {
  font-family: 'Public Sans Medium';
  width: 100%;

  margin-bottom: 16px;
  padding: 18px 0 18px 16px;

  border: 1px solid #9B9B9B;
  border-radius: 8px;
  box-sizing: border-box;
}

button.popup__btn {
  width: 100%;

  margin-bottom: 8px;
  padding: 14px 0;

  background-color: #262626;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

